<div class="header">
    <div class="header-menu">
        <%- include('../partials/navbar') %>
    </div>
    <div class="header-searchbar">
        <%- include('../partials/searchbar') %>
    </div>
</div>