<div class="d-flex justify-content-center searchbar">

  <div class="my-input">
    <input class="form-control search-input" type="search" autocomplete="off"  name="search" id="search" placeholder="Search by location">

  </div>
  <div class="my-button">

    <button class="btn btn btn-secondary font-weight-bold" type="button" id="search-button">Search</button>
  </div>
</div>
      
<div class="d-flex flex-row justify-content-center searchanswer">

  <div class="my-input-search">
    <div id="search-results" class="overflow-auto"></div>

  </div>
  <div class="my-button-search">
    
  </div>
</div>
