/* Scrollbar hacks */
::-webkit-scrollbar {
    width: 8px;
  
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e2e2ff; 
    border-radius: 9px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e2e2ff; 
    border-radius: 9px;
  
  }

/* OVERALL STYLING RULES */
html {
    height: 100vh;
}
body{ height:100vh; margin:0; }



/* Trick */
body{ 
  display:flex; 
  flex-direction:column; 
  background-color: #F8F9FA !important;
}

/* Trick */
.main {
    width: 100%;
    margin-top: 180px;
    position: absolute;
    
}
.no-decoration,.no-decoration:hover{
    text-decoration: none;
}
.wrapper {
    width: 80%;
    height: 500px;
    margin-top: 20px !important;
    margin: auto;
    padding: 20px;
    border: 1px dashed #50a5cf;
    border-radius: 10px;
}

  /* navbar styling rules */
  
.navbar {
  border: 1px solid #9fa09a !important;
  border-bottom: 0px !important;
  background-color: #ECECEB ;
 
}

.title {   
    color: #7f7f7f;
    font-family: 'Oleo Script', cursive;
    font-weight: bold;
}

.nav-link{
    font-size: 18px;
}

.navbar li {
    padding: 5px;
    margin-right: 10px;
    border-radius: 9px;
}
@media (max-width: 992px) {
    .navbar li {
        margin-top: 5px;
    }

  }
  @media (max-width: 600px) {
    .title-icon {
        display: none;
    }
  }
/* carouse styling rules */
#my-carousel {
  width: 90% !important;
 margin-top: 4px !important;
 position:relative;
}
/* searchbar styling rules */
.searchbar {
    background-color: #ECECEB !important;
    padding:10px;
    
    width: 100% !important;
    border: 1px solid #9fa09a !important;
}

.my-input {
    width: 40%;
    margin-right: 10px;
  }

  .my-input-search {
      width: 40%;
      margin-right: 100px;
  }
  @media (max-width: 769px) {
   
    .my-input {
      width: 320px;  
  }

  .my-input-search,#search-results {
    width: 100% !important;

  }

}
/* new location styling rules */
.subtitle{
  font-family: 'Caladea', serif;
  text-align: center;
  margin-bottom: 25px;
}
.form-heading {
    margin-bottom: 0px;
}

textarea {
  resize: none !important;
  overflow-y: auto;
}

.btn-form{
  font-weight: bold !important;
  justify-content: center;
}
.form-content{
  width: 600px;
  margin: auto;
}

/* show locations styling rules */
.show-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 2%;
  list-style-type: none;

}
.card-body {
  padding: 0.5rem !important;
}
.each-location-card {
  max-width: 23.5%;
  flex-basis: 23.5%;
  margin-right: 2%;
}

@media (min-width: 1230px) {
  .each-location-card:nth-child(4n){
    margin-right: 0px;
  }

}
@media (max-width: 1230px){
  .each-location-card {
    max-width: 32%;
    flex-basis: 32%;
    margin-right: 2%;  
  }
  .each-location-card:nth-child(3n){
    margin-right: 0px;
  }

}
@media (max-width: 800px){
  .each-location-card {
    max-width: 49%;
    flex-basis: 49%;
    margin-right: 2% !important;
  }
  .each-location-card:nth-child(2n){
    margin-right: 0px !important;
  }
}
@media (max-width: 450px){
  .each-location-card {
    max-width: 98% !important;
    flex-basis: 98%;
    margin: auto;
  }
}
.card-index {
  display: inline;
}

.responsive {
  display: flex;
}
.card-img-top{
width: 178px;
height: 210px;
}

.likes-index {
width: 50%;
float: right;
}
.comments-index{
width: 50%;
float: left;
}
.location-title,.location-title:hover {
color: #3985b1;
margin-top: .5rem!important;
text-decoration: none;
}

@media (max-width: 864px) {
.form-content {
width: 80% !important;
}
}
@media (max-width: 600px) {


.form-content {
  width: 100% !important;
}

}

/* see location page styling rules */
#like:hover ,#dislike:hover {
color: cornflowerblue;
cursor: pointer;
}
.location-responsive {
display: flex;
width: 95%;
margin: auto;
}
.location-image{
width: 100%;
max-height: 380px;
}

.quote {
padding: 8px;
max-height: 80px;
word-wrap: break-word;
overflow-y: auto;
width: 100%;
}
.image-div {
width: 40%;
}

.text-div {
width: 60% !important;
margin-left: 25px;

}

.each-comment{
word-wrap: break-word;
background-color: #e2e2ff;
border-radius: 8px;
padding: 2px;
}

#all-comments {
max-height: 200px;
padding: 5px;
overflow-y: auto;
}
@media (max-width: 768px) {

.location-responsive {
display: block;
}
.image-div, .text-div {
width:90% !important;
margin: auto;

}
.text-div {
margin-top: 20px;
padding-bottom: 20px;

}
}

/* search div styling rules */
#search-results{
background-color: #ECECEB !important;
border-radius: 10px;  
width: 40%;
margin: auto;
border-top: 0px;
max-height: 150px; 
font-weight: bold;
z-index: 2;
position: absolute;
}
.each-show {
border-bottom: 0.8px solid #000000;
} 

#search-results a{
padding: 2%;
}
.show-search-image {
width: 50%;
margin-left: 7px !important;
}

.show-search-list{
height: 90px;
line-height: 90px;
width: 60% !important; 
margin-left: 5px !important;
}

.very-small-icon {
height: auto;
width: 100%;
}
 