<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/searchbar')%>
    
    
    <div class="main">
      <%- include('../partials/show_admin_locations') %>
    
      
    </div>
  </body>
</html>