<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/header') %>
    <div class="mt-4">
      <%- include('../partials/show_locations') %>
    </div>
  
  </body>
</html>