<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    
    <%- include('../partials/navbar') %>
    <%- include('../partials/searchbar') %>
    <div id="main" class="main">
      <div class="wrapper">
        <div class="form-content">
          <a class="no-decoration" href="../login">
            <h1 class="font-weight-bold mb-2 subtitle">Login</h1>
          </a>
        <form action="/login" method="POST">
          <% if (locals.msg) { %>
            <p class="text-danger text-center"><%- locals.msg%></p>
              <% } %>
          <div class="form-group">
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Email" required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Password" required
            />
          </div>
          <button class="btn btn-secondary btn-block justify-content-center btn-form" type="submit">OK</button>
        </form>
        <p class="lead mt-4">
          No account yet? <a class="no-decoration font-weight-bold text-dark" href="/signup">Register</a>
        </p>
    
    </div>
  </div>
  </div>
  </div>
</body>
</html>
  